.center {
  display: block;
  margin: 0 auto;
}
.right {
  float: right;
}
.small {
  width: 100px;
  height: auto;
}
.medium  {
  width: 500px;
  height: auto;
}
.large {
  width: 750px;
  height: auto;
}
.img-caption {
  float: right;
  font-size: smaller;
  font-style: italic;
}
